.meetings {
  display: flex;
  overflow-x: auto;
}

.meetings-by-day {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-dark);
  &:last-child {
    border-bottom: none;
  }
}
