<h1>Meetings</h1>
<form class="form-inline"
      [formGroup]="form">
  <div class="form-group">
    <label for="orderMeetings">Order meetings </label>
    <select class="custom-select"
            id="orderMeetings"
            formControlName="order">
      <option *ngFor="let option of orderKeys;trackBy:trackByFn"
              [value]="option">{{option}}</option>
    </select>
  </div>
</form>
<div *ngIf="meetings$ | async as meetings; else loading">
  <h3>Results <small>({{meetings.length}})</small></h3>
  <div *ngIf="meetings.length ;else noResults">
    <app-meetings [meetings]="meetings">
    </app-meetings>
  </div>
  <ng-template #noResults>There are no results</ng-template>
</div>
<ng-template #loading>...</ng-template>
