:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .not-found {
    &-title {
      font-size: 14vw;
    }
    &-description {
      font-size: 2em;
    }
  }
}
