<div class="card"
     style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{meeting.name}}</h5>
    <div class="card-text">
      <p>Created by:
        <a [routerLink]="['user-availability',meeting.user.id]">
          <small>{{meeting.user | fullName}}</small></a></p>
      <span>{{meeting.start | amDateFormat : 'LL'}} </span>
      <span>{{meeting.start | amDateFormat : 'LT'}} - {{ meeting.end | amDateFormat : 'LT'}} </span>


    </div>
    <!-- <a href="#"
       class="btn btn-primary">Go somewhere</a>
  </div> -->
  </div>
